@tailwind base;
@layer base {
  h1 {
    @apply text-4xl;
    font-family: sans-serif;
  }
  h2 {
    @apply text-2xl self-center;
    font-family: sans-serif;
  }
  h3 {
    @apply self-center;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: sans-serif;
  }
  h4 {
    @apply text-lg;
    font-family: sans-serif;
  }
  h5 {
    @apply text-2xs;
    font-family: sans-serif;
  }
  hr {
    @apply text-lg;
  }
  p {
    @apply ml-16 text-lg font-medium leading-6;
  }
  a {
    @apply p-6 text-center rounded-md shadow-sm hover:shadow-md flex flex-col items-center;
  }
  dd {
    @apply mt-2 ml-16 max-w-2xl text-base;
  }
  label {
    @apply font-bold;
  }
  input {
    @apply input;
  }
  button {
    @apply btn btn-primary m-2 content-center
  }
  ul {
    @apply mt-3 p-2 menu menu-compact dropdown-content bg-base-100 rounded-box;
  }
  li {

  }
  .input-file {
    @apply my-3 mx-auto input-bordered form-control p-1.5;
  }
  .input-text {
    @apply w-min input-bordered input-md;
  }
  .label-input-text {
    @apply font-bold;
    height: 3rem;
  }
  .card-bordered {
    border-radius: 15px;
  }
  .rounded-rectangle {
    object-fit: cover;
    border-radius: 25px;
    height: 150px;
    width: 200px;
  }
  .card-title {
    font-size: 24px;
    width: 100%;
  }
  .employee-role {
    font-size: 16px;
    color: gray;
  }
  .employee-card {
    max-height: 100%;
  }
  .circle-button {
    @apply text-black border border-black hover:bg-black
    hover:text-black focus:ring-4 focus:outline-none focus:ring-black
    font-medium rounded-full text-sm p-2.5 text-center inline-flex
    items-center  dark:hover:text-white
  }
  .ul1 {
    @apply menu p-4 overflow-y-auto w-80
  }

  .item-title {
    font-size: 24px;
  }

  .item-description {
    font-size: 16px;
    color: gray;
  }
  .scroll {
    max-height: 100%;
    overflow-y: auto;
  }
  .sort-icon:hover {
    filter: opacity(50%);
  }
  .title-header {
    @apply flex mx-2 my-4 space-x-4;
    justify-content: center;
  }
  .purple-button {
    color: #852E82;
  }
  .navbar-turning-point {
    @apply flex mx-2 my-4 space-x-5;
  }
  .sidebar-turning-point {
    @apply flex mx-2 my-4;
  }
}

@tailwind components;
@tailwind utilities;
