@tailwind base;
@layer base {
  h1 {
    @apply text-4xl;
    font-family: sans-serif;
  }
  h2 {
    @apply text-2xl self-center;
    font-family: sans-serif;
  }
  h3 {
    @apply self-center;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: sans-serif;
  }
  h4 {
    @apply text-lg overflow-hidden;
    font-family: sans-serif;
  }
  h5 {
    @apply text-2xs;
    font-family: sans-serif;
  }
  hr {
    @apply bg-base-400;
  }
  dd {
    @apply mt-2 ml-16 max-w-2xl text-base;
  }
  input {
    @apply input;
  }


  /* Custom Classes */
  .input-login {
    @apply input input-bordered input-sm;
    width: max-content;
  }
  .input-file {
    @apply my-3 mx-auto input-bordered form-control p-1.5;
  }
  .input-text {
    @apply w-min input-bordered input-md;
  }
  .label-input-text {
    @apply font-bold;
    margin-top: 0.5rem;
  }
  .navbar-button {
    @apply btn btn-square btn-ghost;
  }
  .profile-button {
    @apply btn btn-ghost btn-circle avatar;
  }
  .ul-navbar {
    @apply menu p-4 overflow-y-auto w-80 bg-base-100;
  }
  .ul-profile {
    @apply mt-3 p-2 overflow-y-auto shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52;
    text-align: left;
  }
  .a-navbar {
    @apply rounded-lg;
  }
  .title-header {
    @apply flex mx-2 my-4 space-x-4;
    justify-content: center;
  }
  .h2-counsellor-dashboard {
    @apply card-title p-2 bg-base-300
  }
  .progress-bar {
    @apply bg-secondary text-xs font-medium text-center p-0.5 leading-none rounded;
  }
  .progress-bar-large {
    @apply bg-blue-light font-medium text-center p-0.5 leading-none rounded
  }
  .p-faded {
    @apply pt-1;
    color: darkgray;
  }
  .module-card {
    @apply px-5 py-7;
  }
  .circle-button {
    @apply text-black border border-black hover:bg-black hover:text-black
    focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-full
    text-sm p-2.5 text-center inline-flex items-center dark:hover:text-white;
  }
  .purple-button {
    @apply btn btn-primary;
  }
  .module-row {
    @apply collapse collapse-arrow border border-base-300 bg-base-300 rounded-box;
  }


  .item-title {
    font-size: 24px;
  }

  .item-description {
    font-size: 16px;
    color: gray;
  }
  .scroll {
    max-height: 100%;
    overflow-y: auto;
  }
  .sort-icon:hover {
    filter: opacity(50%);
  }
}

@tailwind components;
@tailwind utilities;
