name: Jest Unit Tests
on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: "Unit tests"
    runs-on: ubuntu-latest
    steps:
      - uses: mattallty/jest-github-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}